<%= turbo_frame_tag dom_id(comment) do %>
<p>
 <% if comment.user.photo.present? %>
  <%=image_tag comment.user.photo_url(:thumb)%>
<% else %>
  <%= image_tag "thumb_download.png" %>
<% end %>
  <%= comment.user.name %>
 
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
 



<p>
  <%= link_to "Destroy Comment", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>
<% end %>


