
<!-- <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :body%><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit %>
    </p>
<% end %> -->

<%= form_with model: [@article,@article.comments.build] do |form| %>
  <div class = "mb-3">
    <%= form.label :body,class: "form-label"%>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class = "mb-3">
     <%= form.button type: "submit", class: "btn btn-primary" %>
  </div>

<% end %>
  
  