

<div class="card" style="width: 18rem;">
  <% if @user.picture && @user.picture.name.present? %>
  <%= image_tag @user.picture.name.url ,alt: "Card image cap"%>
  <% else %>
  <%= image_tag "no_image.png" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= @user.name %></h5>
    <p class="card-text">Date of birth: <%= @user.dob %></p>
    <%= link_to edit_user_path(@user) do %>
     <button class="btn btn-info mb-3" >Edit User</button>
    <% end %>
<%= link_to user_path(@user), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} do %>
 <button class="btn btn-info mb-3">Delete User</button>
<% end %>
<%= link_to users_path do %>
 <button class="btn btn-info mb-3">Show users</button>
<% end %>
  </div>
</div>

