<h1>Sign Up</h1>


<!-- <%= form_with model: @user, url: sign_up_path do |form| %>
 
  <p><%= form.text_field :name, placeholder: true, format: :html%></p>
  <% @user.errors.full_messages_for(:name).each do |message| %>
    <p><%= message %></p>
  <% end %>

  <p><%= form.date_field :dob, placeholder: true%></p>
  <p><%= form.password_field :password, placeholder: true %></p>
  <p><%= form.password_field :password_confirmation, placeholder: true %></p>
   
  <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
    <p><%= message %></p>
  <% end %>
  <p><%= form.file_field :photo %></p>
  <span><%= form.check_box :admin_user%></span>
  Admin User?
  <p><%= form.submit "Sign Up"%>
<% end %>
<%= link_to "Already have an account?", login_path %> -->



<%= form_with model: @user, url: sign_up_path do |form| %>
 
  <div class="mb-3">
  <label class="form-label">Name</label>
  <%= form.text_field :name,class: "form-control"%>
  <% @user.errors.full_messages_for(:name).each do |message| %>
    <p><%= message %></p>
  <% end %>
  </div>

  <div class="mb-3">
  <label class="form-label">Date of Birth</label>
    <%= form.date_field :dob,class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label">Password</label>
    <%= form.password_field :password, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label">Password confirmation</label>
    <%= form.password_field :password_confirmation, class: "form-control"%>
  
   
  <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
    <p><%= message %></p>
  <% end %>
  </div>

  <div class="mb-3">
  <label class="form-label">Profile photo</label>
  <%=form.fields_for :picture_attributes do |picture_f|%>
    <%= picture_f.file_field :name, class: "form-control" %>
 <%end%>
 </div>

  <div class="form-check mb-3">
  <%= form.check_box :admin_user, class: "form-check-input"%>
  <label class="form-check-label">Admin User?</label>
  </div>

  <div class="mb-3">
  <%= form.button "Sign Up" , type: "submit", class: "btn btn-primary" %>
  </div>
<% end %>
<%= link_to "Already have an account?", login_path %>

